body {
  background-color: #120303;
}

a {
  color: yellow;
}

a:hover {
  color: #989800;
}

header, footer {
  background-color: #11030300;
  color: #9f988c;
}

h1, h2, h3, h4, h5, h6 {
  color: #30b3ff;
}

strong, b {
  color: #ffffff;
}

section p, section li {
  color: #cdc2b0;
}

section img {
  padding: 5px;
}